.card {
  max-width: 804px;
  box-sizing: border-box;
  padding: 20px 16px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #240a38;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
}

.priceBlock {
  text-align: right;
}

.price {
  color: #1d2b3c;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.available {
  color: #56b447;
  font-size: 14px;
  line-height: 142.857%;
}
.cardBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid rgba(36, 10, 56, 0.1);
  padding-top: 16px;
  margin-top: 16px;
}
.row {
  display: flex;
  gap: 28px;
  align-items: center;
}

.label {
  width: 144px;
  color: #727b86;
  font-size: 14px;
  line-height: 142.857%;
}

.value {
  color: #1d2b3c;
  font-size: 14px;
  line-height: 142.857%;
}
.colorWrapper {
  display: flex;
  gap: 4px;
}

.colorDot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px #000 solid;
  cursor: pointer;
}
