.container {
  display: flex;
  box-sizing: border-box;
  max-width: 860px;
  /* padding: 28px; */
  margin: 0 auto;
  padding: 0 16px;
  /* border-radius: 8px;
  border: 1px solid #334155; */

  background: #fff;
}
