.main {
  padding: 28px;
  border-radius: 8px;
  border: 1px solid #334155;
}
.title {
  color: #1d2b3c;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 24px;
}

.carsAvailable {
  display: flex;
  gap: 24px;
  font-size: 16px;
  line-height: 150%;
}

.label {
  width: 130px;
  color: #727b86;
}

.available {
  color: #1d2b3c;
}

.sortBtnsWrapper {
  display: flex;
  padding: 16px 0px;
  justify-content: flex-end;
  gap: 10px;
}
.sortBtn {
  color: #1d2b3c;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #240a38;

  background: #fff;
}
.sortBtn:hover,
.sortBtn:focus {
  color: #fff;
  background: #240a38;
}

.resetBtn {
  color: #1d2b3c;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}
