.headerText {
  color: #1d2b3c;
  font-family: Manrope;
  font-size: 18px;
  line-height: 133.333%;
}
.errorMessage {
  color: #d20505;
  font-family: Roboto;
  font-size: 10px;
}
.filtersForm {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  padding: 16px 20px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.rangeGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.label {
  color: #0f172a;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
}
.input {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--slate-300, #cbd5e1);
  background: #fff;
}

.rangeInput {
  display: flex;
  width: 80px;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--slate-300, #cbd5e1);
  background: #fff;
}
.doubleInput {
  display: flex;
  align-items: center;
  gap: 8px;
}
.buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 12px 0px 24px 0px;
  gap: 24px;
}
.resetBtn,
.applyBtn {
  display: flex;
  height: 48px;
  min-width: 200px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 48px;
  border: 1px solid #240a38;
}
.resetBtn:hover,
.resetBtn:focus {
  color: #fff;
  background: #240a38;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.applyBtn:hover,
.applyBtn:focus {
  color: #fff;
  background: #240a38;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
